body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-layout {
    display: flex;
    height: 100vh;
    background-color: #1e293b;
    color: white;
}


/* Sidebar */

.sidebar {
    width: 220px;
    background-color: #0f172a;
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 22px;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar li:hover,
.sidebar .active {
    background-color: #334155;
}


/* Content */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* Topbar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    padding: 15px 25px;
    border-bottom: 1px solid #334155;
}

.notification {
    font-size: 20px;
    cursor: pointer;
}


/* Map Section */

.map-section {
    padding: 20px;
}

.map-image {
    width: 100%;
    border-radius: 12px;
}


/* Bottom Panels */

.bottom-panels {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.panel {
    flex: 1;
    background-color: #0f172a;
    padding: 20px;
    border-radius: 12px;
}

.panel input,
.panel textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.btn-orange {
    background-color: orange;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.map-section {
    height: 60vh;
    width: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}